*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232123;
  color: white;
  font-family: "Press Start 2P";
}

body.won {
  background: hsl(84, 62%, 39%);
}

button {
  padding: 1.3rem;
  font-family: "Press Start 2P";
  font-size: 1.2rem;
  cursor: pointer;
  border: 4px solid white;
}

button:hover {
  background-color: black;
  color: white;
  border: 4px solid white;
}

.num.empty {
  border: 4px solid red;
}

.num:disabled {
  cursor: not-allowed;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.section {
  position: relative;
}

section h1 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.qCon {
  position: relative;
  margin-top: 2.5rem;
  text-align: center;
}

.question {
  padding: 1.5rem;
  display: inline-block;
  background-color: white;
  color: #232123;
  text-align: center;
  font-size: 2rem;
}

.question::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: white;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 8rem;
}

.left input {
  margin-bottom: 2rem;
  padding: 1rem;
  display: block;
  outline: none;
  border: 4px solid white;
  background-color: #232123;
  color: white;
  font-size: 1.4rem;
  width: 10rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.right p:first-child {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.right p {
  margin-top: 1rem;
}

.right .hint {
  margin-top: 3rem;
  color: red;
}

.check:disabled {
  cursor: not-allowed;
}

.warn {
  margin-bottom: 1rem;
}
